 <p class="mt-5"  style="font-size: 30px;text-align:center;">Admin Dashboard</p>
<div class = "main" style="background-color:	#F0F0F0;" >
 
<div class="row " style="text-align:center;">
  <div class="col-sm-4">
 
   <div class="card text-dark mb-3 mt-5" style="max-width: 20rem;font-size: 28px;">
  <div class="card-header">Registered Tenents</div>
  <div class="card-body">
    
    <p class="card-text">4</p>
  </div>
</div> 
 </div>
 <div class="col-sm-4">
   <div class="card text-dark mb-3 mt-5" style="max-width: 20rem;  font-size: 28px;">
  <div class="card-header">Registered Landlords</div>
  <div class="card-body">
    
    <p class="card-text">{{somett}}5</p>
  </div>
</div> 
</div>
    <div class="col-sm-4">
   <div class="card text-dark mb-3 mt-5" style="max-width: 20rem;font-size: 28px;">
  <div class="card-header">Bookings</div>
  <div class="card-body">
    
    <p class="card-text">4</p>
  </div>
</div> 
</div>
    
    
</div> 
