<!DOCTYPE html>
<html>
    <head>
        <title>Rental House Mangement System</title>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/a.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body>
      
        
        <div class="topnav">
          <h2>Rental House Mangement System</h2>
          <a href = "/" class="first">Home</a>
          <a href = "/register" >Sign up</a>
          <a href = "/Tenant">Tenant Login</a>
          <a href = "/Landlord">Owner Login</a>
          <a href = "/admin">Admin Login</a>
          
                   
        </div>
        
      <div>
        {{{body}}}
      </div>  
        
      
    </body>
</html>

