<!DOCTYPE html>
<html>
    <head>
        <title>Landlord Portal</title>
        <link rel="stylesheet" href="/admin.css">
        <link rel="stylesheet" href="/style.css">
        <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

    </head>
    <body>
        
        <div class="topnav" style=" background-color:#008d8a;">
            <img src="logo.png" id="logo" style=" float: left; display: inline-block;"/> 
            <h1 style="font-family: 'Allerta Stencil';">RS</h1>
            <a href = "/Landlord/dashboard" class="first">Dashboard</a>
           <a href="/Landlord/addHouse">Add House</a>
           <a href="/Landlord/house">View House</a>
           <a href="/Landlord/booking">Bookings</a>
          <a  href = "/">Logout</a>
          
          
        </div>
        {{{body}}}
        
         
      
    </body>
</html>