<!DOCTYPE html>
<html>
    <head>
        <title>Tenant Portal</title>
        <link rel="stylesheet" href="/customer.css">
        <link rel="stylesheet" href="/style.css">
        <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
    </head>
    <body>
       
        <div class="topnav"  style="background-color: #f6937d;">
             <img src="logo.png" id="logo" style=" float: left; display: inline-block;"/> 
             <h2 style="font-family: 'Allerta Stencil';">RS</h2>
            <a href = "/Tenant/dashboard" class="first">Dashboard</a>
          <a href = "/Tenant/house">View Houses</a>
          <a href = "/Tenant/houseBookings">Booking History</a>
          <a href = "/logout">Logout</a>
        </div>
        {{{body}}}
         
      
    </body>
</html>
