<!DOCTYPE html>
<html>
    <head>
        <title>Canteen Management System</title>
        <link rel="stylesheet" href="/customer.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
       
        <div class="topnav"  style="background-color: #f6937d;">
             <img src="logo.png" id="logo" style=" float: left; display: inline-block;"/> 
             <h2>RS</h2>
            <a href = "/Tenant/dashboard" class="first">Dashboard</a>
          <a href = "/Tenant/house">View Houses</a>
          <a href = "/Tenant/houseBookings">Booking History</a>
          <a href = "/logout">Logout</a>
        </div>
        {{{body}}}
         
      
    </body>
</html>
