<div class="landing">
     <div class='white-overlay'>
        <div class='landing-inner'>
  <h1 class='large'>RS</h1>
          <p >
             Perfect place to find rental House<br><br>
             
             
             <a href = "/register" class="button">Sign up</a>
            <a href = "/Tenant" class="button">Sign in</a>
          </p>
</div>
</div>
</div>
